
h1{
  color:var(--bone);
  font-family:"Cedarville Cursive", sans-serif;
}
h4{
font-family: 'Work Sans', sans-serif;
  font-weight: normal;
}
  
body{
  color:var(--bone);
font-family: 'Work Sans', sans-serif;
  font-size:2em;
  text-align:justified;
  padding: 5px;
  transition: transform 2s;
  margin: auto;
  width: 50%;
  background-color: white;
  color:black;
}
p {
  white-space: pre;
}


